*, 
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.snap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  transition: scroll-snap-align 1s ease-in-out;
}

.snap p {
  color: white;
  font-size: 4em;
  padding: 2em;
  text-align: center;
}

#plum {
  background: plum;
}

#blue {
  background: cornflowerblue;
}

#yellow {
  background: moccasin;
}

#green {
  background:aquamarine;
}

#orange {
  background: lightcoral;
}